/* Modal Content Styles */
.generations_modal_content {
  background-color: rgba(0, 0, 0, 0.479); /* Slightly darker background */
  padding: 1em; /* Converted from 20px to 1.5em */
  width: auto; /* Let the width adjust to the content */
  max-width: 35em; /* Increased max-width from 30em to 35em */
  max-height: 35em; /* Increased max-height from 35em to 40em */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds max height */
  text-align: center;
  position: relative; /* Keep the modal in the document flow */
  margin: 0 auto; /* Center the modal horizontally */
  animation: scaleIn 0.2s ease-in-out; /* Scaling animation */
  transform-origin: center center; /* Scaling origin for smooth effect */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Image Container Styles */
.image-container {
  position: relative;
  width: 100%;
  max-width: 22em; /* Slightly increased from 20em to 22em */
  height: auto;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  margin-bottom: 1em; /* Equal space below image container */
  margin-top: 1em;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

/* Ensure the image fills the container */
.image-container img {
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  display: block;
}

/* Flip effect for image container */
.image-container.flipped {
  transform: rotateY(180deg);
}

.image-container .text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  font-size: 1em;
  text-align: center;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  overflow-y: auto;
}

/* Button Styles */
.flip-button, .next-button {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 0.5em 0.0em;
  font-size: 0.9em;
  border: 0.0625em solid #fff; /* Converted from 1px to 0.0625em */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  text-align: center;
  pointer-events: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Button width matches the image container */
  max-width: 27em; /* Slightly increased from 25em to 27em */
}

/* Hover effect for the buttons */
.flip-button:hover, .next-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Button click animation (shrinks when clicked) */
.flip-button:active, .next-button:active {
  transform: scale(0.9);
}